*{
  font-family: 'Lato', sans-serif;
  font-family: 'M PLUS 2', sans-serif;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #121212;
}
.description {
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.desc{
  text-align: center;
}
.desc h1{
  font-weight: 700;
  color: #eee;
}
.desc h2{
  font-weight: 400;
}
.amarelo {
  color: #e5e619;
}
.green{
  color: #01978b;
}
.blue{
  color: #01796f;
}

/*input e botão*/
button img {
  height: 17px;
  width: 10px;
}
.search {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.search input{
  width: 500px;
  height: 20px;
  font-size: 15px;
  outline: none;
}

.search input:hover{
  border: 3px solid #0000ff;
}

.search input::placeholder{
  padding: 5px;
  font-size: 15px;
}

/*list*/
ul {
  text-align: left;
  margin-top: 20px;
}


li {
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #025f70;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #025f70;
  transition: all 0.75s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

li:hover {
  background: #76CFE0;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right !important;
  color: #01796f;
  font-weight: 800;
}

/*mudança de tarefas*/

.done {
  background-color: #01796f !important;
  color: #eee;
}

.delete {
  display: none;
}

/*mudar tema*/
.light {
  background: #eee;
  color: #121212;
}

.light .tema button {
  background: #121212;
  color: #eee;
  border: 2px solid #f7f7f7;
}

.tema button {
  display: flex;
  align-self: flex-end;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.light .desc h1,
.light .desc h2{
  color: #121212;
}